
.banner {
  position: relative;
  height: 100vh;
  z-index: 100;
  font-family: 'Roboto Flex', sans-serif;
  position: relative;
  z-index: 10;
  overflow: hidden;

  .banner-row {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem 4rem;

   @media screen and (max-width) {
     width: 100vw;
     overflow: hidden;
   }
    

    @media (max-width: 768px) {
      &:first-child {
        margin-top: 48px;
        padding: 1rem 0;
      }
    }
    &.center {
      position: fixed;
      bottom: 10%;
      text-align: center;
      font-family: 'Londrina Outline', cursive;
      cursor: pointer;
      opacity: 0.7;

      @media screen and (max-width: 960px) {
       top: 50%;
       bottom: 0%;
       left: -3rem;
       transform: rotate(10deg);
      }

      &:after {
        content: 'Terminalen';
        position: absolute;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 10rem;
        color: #fb3d00;
        text-shadow: 2px 2px 1px black;
        opacity: 1;
        top: 3rem;
        left: 3rem;

        @media screen and (max-width: 768px) {
          font-size: 5rem;
        }
      }
      .row-letter {
        left: 2rem;
        
      }
    }
    &.right {
      justify-content: flex-start;
    }

    .row-title {
      position: relative;
      letter-spacing: .2rem;
      display: inline-block;
      white-space: nowrap;
      cursor: pointer;
    }
    .row-letter {
      font-size: 16rem;
      font-weight: 800;

      /* &:nth-child(3n + 1) {
        transform: rotate(2deg);
        font-size: 4rem;
      } */
      
      @media (max-width: $layout-breakpoint-medium) {
        font-size: 5rem;
        background: black;
        color: #fb3d00;

        &:nth-child(3n + 1) {
          transform: rotate(2deg);
          font-size: 4rem;
        }
      }
    }
    .row-col {
      width: 100%;
      height: 500px;
      display: flex;
      align-content: center;
      justify-content: center;
      @media (max-width: $layout-breakpoint-medium) {
        width: 100%;
        height: fit-content;
      }
      @media (min-width: $layout-breakpoint-xsmall) {
        width: 100%;
        height: fit-content;
        justify-content: flex-start;
      }
      .row-message {
        position: relative;
        padding-top: 10rem;
        padding-left: 5rem;
        padding-right: 5rem;
        margin-right: 1rem;
        font-size: 1.8rem;
        line-height: 4rem;
        width: 320px;
        cursor: pointer;

        @media (max-width: $layout-breakpoint-medium) {
          position: absolute;
          top: 0;
          padding-right: 2rem;
          padding-left: 2rem;
          right: 2rem;
          z-index: 10;
          line-height: 1.5rem;
          padding-top: 7rem;
          max-width: 100%;
          z-index: 100;
        }
        @media (max-width: $layout-breakpoint-xsmall) {
          position: absolute;
          right: 1rem;
          margin-right: 0;
          padding-top: 10rem;
        }


        h3 {
          text-align: left;
          font-size: 4rem;
          font-weight: 800;
          color: #000;
          text-shadow: 1px 1px 1px #fb3d00;

          @media (max-width: $layout-breakpoint-medium) {
            text-align: right;
           font-size: 2rem;
           color: #fb3d00;
           filter: drop-shadow(1px 1px 1px rgba(0,0,0,.885)) drop-shadow(3px 3px 3px rgb(12, 12, 12));
           padding: 0;
           margin: 0;
           background-color: rgba(0, 0, 0, 0.089);
         &:first-child {
           padding-top: 10rem;
         }
          }
        }
      }
    }
    .scroll {
      height: 160px;
      width: 160px;
      border-radius: 100%;
      background: #fff;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow-x: hidden;
      @media (max-width: $layout-breakpoint-medium) {
        left: 60px;
      }
      @media (max-width: 1240px) {
        display: none;
      }
      span {
        font-size: 18px;
        font-weight: 600;
        margin: 4px 0;
        @media (max-width: $layout-breakpoint-xsmall) {
          font-size:10px;
          margin: 2px 0;
        }
      }
    }
  }
}

.transition-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 800px;
    display: flex;
  }
  &.final {
    display: block;
    top: -128px;
    position: relative;
    width: 90%;
    margin: 0 auto;
    z-index: -100;
    @media (max-width: $layout-breakpoint-xsmall) {
      top: -36px;
    }
    img {
      width: 100%;
      max-width: 100%;
    }
  }
}
