// Colors
$background: #f0eff1;
$red: #fb3d00;
$white: #ffffff;
$black: #1e1f13;


.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color:#fb3f00b2;
  overflow-x: hidden;

}

h1 {
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  color: $red;
  background-color: $black;
}

.info-container {
  position: absolute;
  z-index: 40;
  display: block;
  right: 0;
  top: 40%;
  width: fit-content;
  background: rgba(0, 0, 0, 0.493);
  padding: 1rem 4rem 0 0;
  text-align: left;
}

h2 {
  color: $red;
  padding: 0 0 0 0.5rem;
}

.names-array {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 200px;
}


.mid-lists{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

}
.street-list {
  list-style-type: none;
  position: relative;
  z-index: 10;
  &:first-of-type {
   
    z-index: -1;
  }
  li {
    padding: 1rem 0;
    transform: rotate(-1deg) skewX(5deg);


    h3 {
        margin: 0;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 2rem;
        padding: 0.25rem 0.75rem;
        background: black;
        color: #f13303fb;

        @media screen and (max-width: 768px) {
         font-size: 1.5rem;
        }
       
      }
  }
  
  
}


.logo {
position: fixed;
left: -3rem;
top: 5rem;
z-index: 5;
@media screen and (max-width: 768px) {
  left: 2rem;
  top: 10rem;
}

  >img {
    width: 35rem;
    height: 40rem;
    transform:rotate(-40deg);
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.493));

    @media screen and (max-width: 768px) {
      width: 20rem;
      height: 30rem;
    }
}
  
}

// main home page styling

 main {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;

   

  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .row {
      align-items: center;
      .image-container {
        margin-top: 10vh;
        position: relative;
        .thumbnail {
          overflow: hidden;
          position: relative;
          .frame {

            h2 {
              font-family: 'Roboto Flex';
              font-weight: 800;
              font-size: 2rem;
            }
            img {
              transform-origin: top;
              width:60%;
              max-height: 80%;
            }
          }
        }
        .information {
          position: absolute;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;
          text-transform: uppercase;
          .location {
            span:nth-child(2) {
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}


.single {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      position: absolute;
      max-width: 100%;
      top: 40%;
      left: 0;
     }

  .container {
    width: 100vw;
    .top-row {
      .top {
        .details {
         display: block;
          .location {
            
            span:nth-child(2) {
              margin-left: 16px;
            }
          }
        }
      }
    }
    .bottom-row {
      height: 50vh;
      width: 100vw;
      @media (max-width: 768px) {
        width: 100%;
        top: 0;
        left: 0;
        right: auto;
       }
      .bottom {
        
        .thumbnail-single {
          
          margin: 0 auto;
          .frame-single {
            position: fixed;
            left: 0;
            top: 40vh;
              width: 80%;
              height: 0;
           
            @media (max-width: 768px) {
              top: 60vh;
              width: 80%;
              left: 10%;
              right: 10%;
              z-index: 1;
             }
            img {
              width: 90vw;
              padding: 10rem;
              pointer-events: none;
              @media (max-width: 768px) {
                width: 60vw;
                padding: 2rem;
                margin-bottom: 5rem;
               }
            
              @media (max-width: 768px) {
                width: 80vw;
                padding: 2rem;
                margin-bottom: 5rem;
               }
            }
          }
        }
      }
    }
  }
}

.detailed-information {
  padding: 0 2rem;
  margin-top: 200px;
  position: relative;
  height: 600px;

  @media (max-width: 768px) {
   
    height: 100%;
    z-index: 100;
   }

    .container {
    .row {
     
      display: block;
      justify-content: space-between;
      align-items: flex-start;
      h2 {
        font-size: 28px;
        text-shadow: 2px 2px 2px black;
      }
      p {
        font-family: "Roboto Flex";
        font-size: 16;
        line-height: 28px;
        font-weight: 400;
        max-width: 800px;
      }
    }
  }
}

