
.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f13303fb;

}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  padding: 0.5rem 1rem;
}

h1 {
  &.special {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 5rem;
    background: black;
  padding: 2rem 4rem;
  color: #f13303fb;
  }
 
 
}

ul {
  list-style-type: none;
  position: absolute;
  left: 0;
  top: 10rem;
}


