
.nameList {
    position: relative;
    margin: 0 auto;
    list-style-type: none;
    z-index: 10;
    width: fit-content;
  }

.name {
    width: inherit;
    padding: 0.25rem 0;
    background: transparent;
    > h4 {
        font-family: 'Roboto Flex', sans-serif;
        color: black;
    }
}